body{
    font-family: Roboto;
}

.strike-off{
    text-decoration: line-through;
    color: grey;
}

input[type='text']{
    display:none;
    width: 100%;
    height: 40px;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: rgb(231, 231, 231);
    color: rgb(71, 111, 241);
    outline: none;
    border: 3px solid rgba(0,0,0,0);
    font-size: 20px;
    font-weight: normal;
}

input[type='text']:focus{
    background-color: white;
    border: 3px solid rgb(71, 111, 241);
}

li{
    background-color: white;
    height: 40px;
    line-height: 40px;
}

li:nth-child(2n){
    background-color: rgb(231, 231, 231);
}

#signal{
    display:none;
    margin-top: 3%;
}

.main-div{
    width: 360px;
    margin: 0 auto;
    background-color: white;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1{
    background-color: rgb(71, 111, 240);
    color: white;
    padding: 20px;
    font-size: 30px;
    margin: 0;
    font-weight: normal;
}

h1 span{
    float: right;
}

#heading{
    margin-bottom: 0;
}

.icond{
    background-color: red;
    display: inline-block;
    width: 0;
    text-align: center;
    color: white;
    opacity: 0;
    transition: .5s;
}

li:hover .icond{
    width: 40px;
    opacity: 1.0;
}

.text-span{
    padding-left:10px;
}